In [34]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from flask import Flask, jsonify, render_template
import json

In [35]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [36]:
sba = "sbc_FY2010-Present.csv"
sba_df = pd.read_csv(sba)
sba_df.head()

/Users/fjgalliano/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BusinessType,BankName,BankStreet,BankCity,BankState,...,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,NaicsCode,NaicsDescription,FranchiseCode,FranchiseName,SBADistrictOffice,CongressionalDistrict,JobsSupported
0,"CRESA PARTNERS - DENVER, INC.",7979 E TUFTS AVE PKWY STE 810,DENVER,CO,80237.0,CORPORATION,"Zions Bank, A Division of",1 S Main St,SALT LAKE CITY,UT,...,NaN,0.0,1.0,531210.0,Offices of Real Estate Agents and Brokers,NaN,NaN,COLORADO DISTRICT OFFICE,1.0,35.0
1,The Hilltop Tavern,4757 Folsom Blvd,Sacramento,CA,95819.0,CORPORATION,Plumas Bank,336 W Main St,QUINCY,CA,...,NaN,0.0,0.0,722410.0,Drinking Places (Alcoholic Beverages),NaN,NaN,SACRAMENTO DISTRICT OFFICE,6.0,6.0
2,River City Car Wash LLC,649 Harbor Blvd,West Sacramento,CA,95691.0,CORPORATION,"Wells Fargo Bank, National Association",101 N Philips Ave,SIOUX FALLS,SD,...,8/24/15,320098.0,0.0,811192.0,Car Washes,NaN,NaN,SACRAMENTO DISTRICT OFFICE,6.0,27.0
3,Alphagraphics,71 Newtown Road.,Danbury,CT,6810.0,CORPORATION,Union Savings Bank,226 Main St,DANBURY,CT,...,NaN,0.0,1.0,323110.0,Commercial Lithographic Printing,3512,"ALPHAGRAPHICS, PRINTSHOPS OF T",CONNECTICUT DISTRICT OFFICE,5.0,5.0
4,ON SITE AUTOMOTIVE APPEARANCE,603 WOODBRIDGE COURT,MIDDLEBURY,IN,46540.0,INDIVIDUAL,"Crossroads Small Business Solutions, LLC",9385 Haven Avenue,Rancho Cucamonga,CA,...,NaN,0.0,0.0,811121.0,"Automotive Body, Paint, and Interior Repair an...",NaN,NaN,INDIANA DISTRICT OFFICE,2.0,2.0

In [37]:
# Create engine using the `clean_measurement.sqlite` database file
engine = create_engine('sqlite:///sbc_FY2010-Present.sqlite')

In [ ]:
sba_df.to_sql("bank_data",engine,index=False)

In [38]:
conn = engine.connect()

In [39]:
results = conn.execute("select * from bank_data limit 10").fetchall()

In [40]:
new_df = pd.read_sql("select BankName, ApprovalFiscalYear as fundingYear, sum(grossApproval) as grossApproval from bank_data \
where BankName <> 'None' group by 1,2", conn)

new_df.head()

           BankName  fundingYear  grossApproval
0  121 Financial CU       2011.0       298000.0
1  121 Financial CU       2012.0       100000.0
2  121 Financial CU       2013.0       247000.0
3  121 Financial CU       2014.0       152000.0
4  121 Financial CU       2015.0       225000.0

In [84]:
# from pprint import pprint
# pprint (new_df.to_json(orient='records'))

In [42]:
all_cols = pd.read_sql("select * from bank_data limit 10", conn)

In [81]:
all_cols.columns
v = "Wells Fargo Bank, National Association"

In [82]:
new_df2 = pd.read_sql("select BankName, SICDISCRIP, SIC, count(sic) sic_count from bank_data \
where BankName = '%s' group by 1,2,3 order by sic_count desc limit 10" % v, conn)
new_df2.head(n=10)

,BankName,SICDISCRIP,SIC,sic_count
0,"Wells Fargo Bank, National Association",Offices of Dentists,621210.0,611
1,"Wells Fargo Bank, National Association",Offices of Physicians (except Mental Health Sp...,621111.0,562
2,"Wells Fargo Bank, National Association",Fitness and Recreational Sports Centers,713940.0,434
3,"Wells Fargo Bank, National Association",All Other Specialty Trade Contractors,238990.0,404
4,"Wells Fargo Bank, National Association",Offices of Lawyers,541110.0,401
5,"Wells Fargo Bank, National Association",General Automotive Repair,811111.0,373
6,"Wells Fargo Bank, National Association",Offices of Certified Public Accountants,541211.0,341
7,"Wells Fargo Bank, National Association",Beauty Salons,812112.0,332
8,"Wells Fargo Bank, National Association",Child Day Care Services,624410.0,332
9,"Wells Fargo Bank, National Association",Offices of Chiropractors,621310.0,306

In [85]:
# from pprint import pprint
# pprint (new_df2.to_json(orient='records'))

In [86]:
all_cols.columns

Index(['BorrName', 'BorrStreet', 'BorrCity', 'BorrState', 'BorrZip',
       'BankName', 'BankCity', 'BankState', 'BankZip', 'GrossApproval',
       'SBAGuaranteed', 'ApprovalDate', 'ApprovalFiscalYear', 'InterestRate',
       'Term', 'LoanStatus', 'ChargeOffDate', 'GrossChargeOffAmount', 'SIC',
       'SICDISCRIP', 'SBADistrictOffice', 'CongressionalDistrict',
       'JobsSupported'],
      dtype='object')

In [123]:
new_df3 = pd.read_sql("select BankName, sum(GrossApproval) as TotalLoansApproval, ApprovalFiscalYear \
from bank_data where BankName <> 'NONE' group by 1", conn)
new_df3.head(n=10)

                      BankName  TotalLoansApproval  ApprovalFiscalYear
0             121 Financial CU           1022000.0              2015.0
1                    1880 Bank           2900000.0              2014.0
2           1st Advantage Bank            140000.0              2014.0
3                     1st Bank            463000.0              2011.0
4                1st Bank Yuma           1115368.0              2015.0
5           1st Bank in Hominy            938400.0              2015.0
6             1st Capital Bank          12222700.0              2015.0
7  1st Colonial Community Bank          31084500.0              2015.0
8        1st Constitution Bank          72495000.0              2015.0
9       1st Financial Bank USA            695800.0              2012.0

In [117]:
new_df3b = pd.read_sql("select BankName, BorrName, sum(GrossChargeOffAmount) as GrossChargeOff, ChargeOffDate \
from bank_data where GrossChargeOffAmount >1 group by 2,4", conn)

new_df3b.head(n=10)

,BankName,BorrName,GrossChargeOff,ChargeOffDate
0,Umpqua Bank,(L/D) Max Aviation Safety Grou,33968.0,2/11/14
1,"Integrity Bank, ssb","1 GREEN STREET, INC.",43637.0,4/5/15
2,"Santander Bank, National Association","1-5 Cadman Plaza, Inc.",70070.0,3/5/14
3,"JPMorgan Chase Bank, National Association",1-800-Got-Junk?,62250.0,9/23/16
4,Union National Bank & Trust Company,"10-2 Distributors, LLC",38143.0,7/4/16
5,"Santander Bank, National Association","1111 East River, Ltd.",40000.0,3/18/15
6,Bank of Hope,"11125 Car-Wash Partners, LLC.",224328.0,3/17/16
7,Umpqua Bank,"123 Business World Services, I",20745.0,12/18/13
8,"JPMorgan Chase Bank, National Association",125 Mi Casa Restaurant Corp.,22118.0,9/2/14
9,Republic First Bank d/b/a Republic Bank,"1450 Hospitality PA, LLC",32712.0,11/20/17

In [141]:
new_df4 = pd.merge(new_df3, new_df3b, on='BankName', how='outer')
new_df4.head(10)

,BankName,TotalLoansApproval,ApprovalFiscalYear,BorrName,GrossChargeOff,ChargeOffDate
0,121 Financial CU,1022000.0,2015.0,NaN,NaN,NaN
1,1880 Bank,2900000.0,2014.0,NaN,NaN,NaN
2,1st Advantage Bank,140000.0,2014.0,NaN,NaN,NaN
3,1st Bank,463000.0,2011.0,NaN,NaN,NaN
4,1st Bank Yuma,1115368.0,2015.0,NaN,NaN,NaN
5,1st Bank in Hominy,938400.0,2015.0,NaN,NaN,NaN
6,1st Capital Bank,12222700.0,2015.0,NaN,NaN,NaN
7,1st Colonial Community Bank,31084500.0,2015.0,"MALASHARD CONSULTING, LLC",72617.0,7/21/17
8,1st Constitution Bank,72495000.0,2015.0,D&Z LLC,36904.0,3/23/16
9,1st Constitution Bank,72495000.0,2015.0,J & Me Spa Inc,249228.0,6/2/16

In [140]:
new_df4 = new_df4.dropna(subset = ['BorrName'])
new_df4.head(10)

,BankName,TotalLoansApproval,ApprovalFiscalYear,BorrName,GrossChargeOff,ChargeOffDate
7,1st Colonial Community Bank,31084500.0,2015.0,"MALASHARD CONSULTING, LLC",72617.0,7/21/17
8,1st Constitution Bank,72495000.0,2015.0,D&Z LLC,36904.0,3/23/16
9,1st Constitution Bank,72495000.0,2015.0,J & Me Spa Inc,249228.0,6/2/16
12,1st MidAmerica CU,96300.0,2012.0,"HUDDLE UP SPORTS INK, LTD",33995.0,9/17/14
15,1st Source Bank,96575260.0,2015.0,All Phase of Customized Marble,57000.0,12/11/12
16,1st Source Bank,96575260.0,2015.0,"Audacity Employment Solutions,",7432.0,3/13/17
17,1st Source Bank,96575260.0,2015.0,"Borzych Construction, LLC",265545.0,8/12/14
18,1st Source Bank,96575260.0,2015.0,"Bray Construction, Inc.",39231.0,10/24/14
19,1st Source Bank,96575260.0,2015.0,"Commercial Painters, Inc",45987.0,12/3/12
20,1st Source Bank,96575260.0,2015.0,"Commercial Painters, Inc",13800.0,2/6/13

In [ ]:
# from pprint import pprint
# pprint (new_df4.to_json(orient='records'))

In [155]:
new_df5 = pd.read_sql("select BankName, sum(GrossApproval), sum(GrossChargeOffAmount), SICDISCRIP, count(sic) sic_count \
from bank_data where BankName = '%s' group by 4" % v, conn)
new_df5.head(n=10)

,BankName,sum(GrossApproval),sum(GrossChargeOffAmount),SICDISCRIP,sic_count
0,"Wells Fargo Bank, National Association",286500.0,0.0,Abrasive Product Manufacturing,1
1,"Wells Fargo Bank, National Association",5234477.0,0.0,Adhesive Manufacturing,6
2,"Wells Fargo Bank, National Association",55000.0,0.0,Administration of Air and Water Resource and S...,3
3,"Wells Fargo Bank, National Association",3495000.0,0.0,Administration of Education Programs,2
4,"Wells Fargo Bank, National Association",20613300.0,59563.0,Administrative Management and General Manageme...,101
5,"Wells Fargo Bank, National Association",26662000.0,9454.0,Advertising Agencies,79
6,"Wells Fargo Bank, National Association",2457700.0,401018.0,Advertising Material Distribution Services,8
7,"Wells Fargo Bank, National Association",3782000.0,4924.0,"Agents and Managers for Artists, Athletes, Ent...",14
8,"Wells Fargo Bank, National Association",125000.0,0.0,Air and Gas Compressor Manufacturing,1
9,"Wells Fargo Bank, National Association",4497000.0,0.0,Air-Conditioning and Warm Air Heating Equipmen...,2